<section>
  <form #f="ngForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        email
        required
        type="email" 
        matInput 
        ngModel 
        name="email" 
        placeholder="Your Email"
        #emailInput="ngModel">
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        <mat-error *ngIf="emailInput.hasError('required')">Email must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input 
        required
        minlength="6"
        type="password" 
        matInput
        ngModel 
        name="password" 
        placeholder="Your Password"
        #pwInput="ngModel">
    <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
    <mat-error *ngIf="pwInput.hasError('required')">Password must not be empty</mat-error>
    <mat-error *ngIf="!pwInput.hasError('required')">Password must be at least 6 characters long.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Submit</button>
  </form>
</section>